// Global default params, used in configs
params {
  cluster_res = 0.2
  min_frac = 0.5
  models = "cecilia22_predH:Immune_All_High.pkl,cecilia22_predL:Immune_All_Low.pkl,elmentaite21_pred:Cells_Intestinal_Tract.pkl,suo22_pred:Pan_Fetal_Human.pkl,megagut_pred:/lustre/scratch127/cellgen/cellgeni/tickets/tic-2456/actions/MegaGut_Human.pkl" 
  metadata = ""
  ss_out = "Gene"
  project_tag = ""
  ss_prefix = ""
  cb_prefix = ""
  batch_key = ""
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs --nv'
}

process {
  
  container = '/nfs/cellgeni/singularity/images/scautoqc_v0.1.sif'

  errorStrategy = 'retry'
  maxRetries    = 5

  withName: gather_matrices {
    cpus = 2
    memory = 16.GB
    queue = "normal"
    maxForks = 10
  }

  withName: run_qc {
    cpus = 2
    memory = { 8.GB * task.attempt }
    queue = "normal"
    maxForks = 10
  }

  withName: find_doublets {
    cpus = 2
    memory = { 8.GB * task.attempt }
    queue = "normal"
    maxForks = 10
  }

  withName: pool_all {
      cpus = 2
      memory = { 16.GB * task.attempt }
      queue = "normal"
      maxForks = 10
    }

  withName: add_metadata {
    cpus = 2
    memory = { 16.GB * task.attempt }
    queue = "normal"
    maxForks = 10
  }

  withName: integrate {
    cpus = 2
    memory = { 32.GB * task.attempt }
    queue = "gpu-normal"
    clusterOptions = { '-gpu "mode=shared:j_exclusive=no:gmem=16000:num=1"' }
    maxForks = 10
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   overwrite = true
   file = "scautoqc-reports-${params.project_tag}/timeline.html"
}

report {
   enabled = true
   overwrite = true
   file = "scautoqc-reports-${params.project_tag}/report.html"
}

trace {
   enabled = true
   overwrite = true
   file = "scautoqc-reports-${params.project_tag}/trace.txt"
}
