// Global default params, used in configs
params {
  min_frac = 0.5
  metadata = ""
  ss_out = "GeneFull"
  project_tag = ""
  gather_mode = "cellbender" // Options: cellbender, starsolo
  qc_mode = "original"       // Options: original, multires, combined
  cellbender_input = "cellbender.h5"
  celltypist_model = ""
  metrics_csv = ""
  ss_prefix = ""
  cb_prefix = ""
  cr_prefix = ""
  limits_csv = "" // Used in subset mode only
  path_for_scvi = ""
  n_top_genes = 7500
  batch_key = ""
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs --nv'
}

process {
  
  container = '/nfs/cellgeni/singularity/images/scautoqc-v0.7.1.sif'

  errorStrategy = { task.exitStatus == 130 ? 'retry' : 'terminate' }
  maxRetries    = 5

  withName: gather_matrices {
    cpus = 1
    memory = { 16.GB * task.attempt }
    queue = "normal"
    maxForks = 10
  }

  withName: run_qc {
    cpus = 1
    memory = { 16.GB * task.attempt }
    queue = "normal"
    maxForks = 10
  }

  withName: subset_object {
    cpus = 1
    memory = { 8.GB * task.attempt }
    queue = "normal"
    maxForks = 10
  }

  withName: find_doublets {
    cpus = 1
    memory = { 8.GB * task.attempt }
    queue = "normal"
    maxForks = 10
  }

  withName: pool_all {
      cpus = 1
      queue = "normal"
    }

  withName: finalize_qc {
    cpus = 1
    queue = "normal"
  }

  withName: finalize_qc_basic {
    cpus = 1
    queue = "normal"
  }

  withName: integrate {
    cpus = 1
    memory = { 32.GB * task.attempt }
    queue = "gpu-normal"
    clusterOptions = { '-gpu "mode=shared:j_exclusive=no:gmem=16000:num=1"' }
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   overwrite = true
   file = "scautoqc-reports-${params.project_tag}/timeline.html"
}

report {
   enabled = true
   overwrite = true
   file = "scautoqc-reports-${params.project_tag}/report.html"
}

trace {
   enabled = true
   overwrite = true
   file = "scautoqc-reports-${params.project_tag}/trace.txt"
   fields = "task_id,hash,name,status,exit,submit,duration,realtime,%cpu,memory,%mem,peak_rss,peak_vmem"
}

workDir = "nf-work"